In [18]:
#1
'''wap to convert specified days into years,weeks and days
take user input 
ignore leap year'''

In [16]:
days=int(input('enter number of days:'))
year=days//365
week=days//7
print('year=',year,' ','week=',week,' ','days=',days,' ')

enter number of days: 365

year= 1   week= 52   days= 365

In [ ]:
#2
'''wap to input basiPython salary of an employee and calculate its gross salary according to following:
basic salary<=10000:hra=20%,da=80%
basic salary<=20000:hra=30%,da=90%
basic salary>20000:hra=35%,da=95%'''

In [36]:
basic_salary=int(input('enter basic salary of an employee'))


if basic_salary<=10000:
    hra=basic_salary*0.20
    da=basic_salary*0.80
    gross_salary=basic_salary+hra+da
    print('gross salary=',gross_salary)

elif basic_salary<=20000:
    hra=basic_salary*0.30
    da=basic_salary*0.90
    gross_salary=basic_salary+hra+da
    print('gross salary=',gross_salary)

elif basic_salary>20000:
    hra=basic_salary*0.35
    da=basic_salary*0.95
    gross_salary=basic_salary+hra+da
    print('gross salary=',gross_salary)
    
#else:
 #   print('please enter correct value')

enter basic salary of an employee 10000

gross salary= 20000.0

In [ ]:
#3
'''wap to input electricity unit charges and calculate total electricity bill according to given condition:
for first 50 units rs.0.50/unit
for next 100 units rs.0.75/unit
for next 100 units rs.1.25/unit
for unit above 250 rs. 1.50/unit

an additional surcharge of 17% is added to the bill'''

In [1]:
unit=int(input('enter unit:'))
if unit<=50:
    amt=unit*0.5
    print('bill=',amt)

elif unit<=150 and unit>50:
    amt=unit*0.75
    print('bill=',amt)

elif unit<=250 and unit>150:
    amt=unit*1.25
    print('bill=',amt)

elif unit>=250:
    amt=unit*1.50
    print('bill=',amt)

total_bill=amt+0.17
print('total bill=',total_bill)

enter unit: 40

bill= 20.0
total bill= 20.17

In [ ]:
#4
'''wap to print given pattern
1
22
333
4444
55555'''

In [51]:
row=int(input('enter number of rows u want to print:'))
for i in range(1,row+1):
    print(' ')
    for j in range(i):
        print(i, end='')

enter number of rows u want to print: 5

1
22
333
4444
55555

In [ ]:
#5
'''wap to calculate product of digits of a number. read value of n from user'''

In [53]:
n=int(input('enter number'))
mul=1
while n>0:
    rem=n%10
    mul=mul*rem
    n=n//10
print('product:',mul)

enter number 12345

product: 120

In [ ]:
#6
'''create list of elements like:x=[45,67,12,'hello',23.45,'world']
and perform following operations
1.extract only string values from this list
2.create a new list with strings in uppercase
3.find addition of integer values
4.check that value 56 is present in it or not
5.print list in reverse order
6.delete string hello from it
7.insert new value 36 at 5th position in list
8.count total number of elements in list now 
9.extraxt values from 2nd index to 5th index
10.append[34,'pune'] to the list
11.delete the last element from the list
'''

In [134]:
x=[45,67,12,'hello',23.45,'world']

In [135]:
#1.
y=x[3],x[-1]            
y

('hello', 'world')

In [136]:
#2.
y=[n.upper() for n in y]
y

['HELLO', 'WORLD']

In [138]:
#3.

In [14]:
#4.
56 in x

False

In [139]:
#5.
x.reverse() 
x

['world', 23.45, 'hello', 12, 67, 45]

In [140]:
#6.
x.remove('hello')
x

['world', 23.45, 12, 67, 45]

In [141]:
#7.
x.insert(4,36)               #5thposition ,i.e. 4th index
x

['world', 23.45, 12, 67, 36, 45]

In [46]:
#8.
len(x)

6

In [58]:
#9.
x[2:5]

[12, 67, 36]

In [74]:
#10.
x.append([34,'pune'])
x

['world', 23.45, 12, 67, 36, 45, [34, 'pune']]

In [94]:
#11.
x.pop(-1)
x

['world', 23.45, 12, 67, 36]

In [ ]:
#7
'''create a tuple of elements with 5 float values in it and
perform following operations:
1.print data in sorted manner
2.check to see that element 50 is present in it
3.convert this tuple in set'''

In [95]:
t=(12.23,34.45,76.32,56.87,23.76)
t

(12.23, 34.45, 76.32, 56.87, 23.76)

In [98]:
#1.
sorted(t)

[12.23, 23.76, 34.45, 56.87, 76.32]

In [99]:
#2.
50 in t

False

In [101]:
#3.
m=list(t)
m

[12.23, 34.45, 76.32, 56.87, 23.76]

In [ ]:
#8
'''create a dictionary of elements :{'a':'apple','b':'ball','c':'cat',
'd':'doll','k':'king'} and perform following operations:
1.access data at key 'k'
2.add a new value 'z':'zebra'
3.replace contents of 'd' as 'dog'
4.print all values from dictionary
5.find length of this dictionary'''

In [105]:
d={'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [106]:
#1.
d['k']

'king'

In [108]:
#2.
d['z']='zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [109]:
#3.
d['d']='dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [110]:
#4.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [142]:
#5.
len(d)

6

In [ ]:
#9
'''wap to find second largest element in list'''

In [123]:
l=[12,23,34,45,56]
sorted(l)
print('second largest element is:',l[-2])

second largest element is: 45

In [ ]:
#10
'''this is list of some metallic elements:
metals=['silver','gold'....]
make a new list that is almost identical to metals list :
the new contains same items,in same order,except that it does
NOT contain the item 'copper'. '''

In [129]:
metals=['silver','gold','copper','iron','zinc']
print('metals from first list=',metals)
metals.remove('copper')
metals2=metals.copy()
print('metals from second list=',metals2)

metals from first list= ['silver', 'gold', 'copper', 'iron', 'zinc']
metals from second list= ['silver', 'gold', 'iron', 'zinc']

In [130]:
##THANK YOU!!!